apiVersion: v1
kind: PersistentVolume
metadata:
  name: image-registry-storage
spec:
  capacity:
    storage: 100Gi
  accessModes:
    - ReadWriteMany
  nfs:
    path: "{{ openshift_registry_nfs_path }}"
    server: "{{ openshift_registry_nfs_server }}"
  persistentVolumeReclaimPolicy: Retain