#jinja2:lstrip_blocks: True
<network xmlns:dnsmasq='http://libvirt.org/schemas/network/dnsmasq/1.0'>
  <name>{{ openshift_network_name }}</name>
  <bridge name='{{ openshift_network_bridge_name }}' />
  <forward mode='{{ openshift_network_forward_mode }}' />
  <domain name='{{ openshift_fqdn }}'/>
  <ip address='{{ openshift_network_ip | ipaddr('ip') }}' netmask='{{ openshift_network_ip | ipaddr('netmask') }}'>
    <dhcp>
      <range start='{{ openshift_network_dhcp_start | ipaddr('ip') }}' end='{{ openshift_network_dhcp_end | ipaddr('ip') }}'/>
      {% for host in openshift_all_hosts %}
      <host name='{{ host.names | first }}.{{ openshift_fqdn }}' ip='{{ host.ip | ipaddr('ip') }}' mac='{{ host.mac }}'/>
      {% endfor %}
    </dhcp>
  </ip>

  <dns>
    {% for host in openshift_all_hosts %}
    <host ip='{{ host.ip | ipaddr('ip') }}'>
      {% for name in host.names %}
      <hostname>{{ name }}.{{ openshift_fqdn }}</hostname>
      {% endfor %}
    </host>
    {% endfor %}
  </dns>

  <dnsmasq:options>
    <dnsmasq:option value="cname=api.{{ openshift_fqdn }},{{ openshift_api_cname }}" />
    <dnsmasq:option value="cname=api-int.{{ openshift_fqdn }},{{ openshift_api_internal_cname }}" />
    <dnsmasq:option value="address=/apps.{{ openshift_fqdn }}/{{ openshift_hosts.loadbalancers[0].ip }}" />
    <dnsmasq:option value="local=/{{ openshift_fqdn }}/" />
  </dnsmasq:options>
</network>